*{
    background-color: #0a192f;
    color: #5deccb;
    font-family: monospace;  
}
.mainhead{
    display: flex;
    width: 100%;
    height:700px;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.left{
    width: 7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
.left div{
    width: 100%;
    text-align: center;
    
}
.left div img{
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.right{
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items:flex-end;
}
.mail{
    width: 100%;
    margin-bottom: 200px;
}
.right div p{
    transform: rotate(90deg);
    font-weight: 600;
    font-size: 17px;
    font-style: italic;
}
.right .mail a :hover{
    color: #3a6097;
    text-decoration: none;
}
.right .mail p :hover{
    text-decoration:solid;
}
.middle{
    width: 86%;
    height: 100%;
}

.header1{
    display: flex;
    flex-direction: row;
}
.header1 .title p{
    width: 100%;
    color: #e6f1ff;
    font-weight:bolder;
    text-align: center;
}
.header1 div{
    width: 50%;
}
.middle .header1 .title{
    font-size: 25px;
    text-align: center;
}
.title{
    display: flex;
    justify-content: center;
}
.title div{
    width: 100%;
}
.header1 .navigation nav{
    padding: 15px;
    font-size: 14px;
}
.header1 .navigation nav a{
    text-decoration: none;
}
.header1 .navigation nav a:hover{
    text-decoration: wavy;
    font-size: 14.1px;
    color: blanchedalmond;
}
.header1 .navigation{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    padding-right: 80px;
}
.about_me{
    width: 70%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coffee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coffee div{
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.coffee div img{
    width: 50%;
    
}
.coffee p{
    color: #8892b0;
    font-size: 17px;
}
@media screen and (max-width: 850px) {
    .header1{
        display: flex;
        flex-direction: column;
    }
    .header1 .title{
        padding-left: 150px;
    }
    .header1 .navigation{
        justify-content: center;
        padding-right: 0px;
        padding-left: 150px;
    }
}
@media screen and (max-width:615px) {
    .mainhead{
        display: flex;
        width: 100%;
        height:700px;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .left{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
    }

    .left div img{
        width: 10%;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .header1 .title{
        padding-left: 120px;
    }
    .header1 .navigation{
        justify-content: center;
        padding-right: 0px;
        padding-left: 120px;
    }
    .right{
        width: 100%;
    }
    .mail{
        width: 100%;
        margin-bottom: 0px;
    }
    .right div p{
        transform: rotate(0deg);
        font-weight: 600;
        font-size: 17px;
        font-style: italic;
        text-align: center;
    }
    .middle .title{
        width: 100%;
        padding-left: 0;
    }
    
}
@media screen and (max-width:485px) {
    .mainhead{
        display: flex;
        width: 100%;
        height:700px;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        height: fit-content;
    }
    .left{
        width: 100%;
        height: fit-content;
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
    }

    .left div img{
        width: 20%;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .header1 .title{
        padding-left: 120px;
    }
    .header1 .navigation{
        justify-content: center;
        padding-right: 0px;
        padding-left: 75px;
    }
    .right{
        width: 100%;
        height: 80px;
    }
    .middle{
        height: fit-content;
    }
    .mail{
        width: 100%;
        margin-bottom: 0px;
    }
    .right div p{
        transform: rotate(0deg);
        font-weight: 600;
        font-size: 17px;
        font-style: italic;
        text-align: center;
    }
    .header1 .navigation nav{
        padding: 12px;
        font-size: 10px;
    }
    .middle .title{
        width: 100%;
        padding-left: 0;
    }
}
@media screen and (max-width:330px) {
    .mainhead{
        display: flex;
        width: 100%;
        height:700px;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        height: fit-content;
    }
    .left{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
    }

    .left div img{
        width: 60%;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .header1 .title{
        padding-left: 120px;
    }
    .header1 .navigation{
        width: 300px;
        justify-content: center;
        padding-left: 0;
        padding: 0;

    }
    .right{
        width: 100%;
        height: 80px;
    }
    .mail{
        width: 100%;
        margin-bottom: 0px;
    }
    .right div p{
        transform: rotate(0deg);
        font-weight: 600;
        font-size: 17px;
        font-style: italic;
        text-align: center;
    }
    .middle{
        width: 100%;
        height: fit-content;
    }
    .middle .title{
        width: 100%;
        padding-left: 0;
    }
    .header1 .navigation nav{
        padding: 7px;
        font-size: 10px;
    }
}